:root{
--color-black: #292B2E;
--p : 30px;
--orange : #FFB742;
--white: #FFFFFF;
--dark-black: #1C1C1C;
--gray: #D4D4D4;
--dark-gray: #7b7b7b;
}

body {
    background-color: var(--dark-black);
    font-family: 'PT Sans', sans-serif;
    color: var(--white)
}

.header {
    width: 100%;
    background-color: var(--dark-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--gray);
    font-size: 18px;
}

a:link {
    color: var(--gray);
    text-decoration: none;
}

a:visited {
    color: var(--orange);
    text-decoration: none;
}

.list_menu {
    width: 491px;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;

}

.hire_me_button {
    background-color: var(--orange);
    border-radius: 50px;
    width: 121px;
    height: 54px;
    color: var(--color-black);
    box-sizing: border-box;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    padding: 15px;
}

.avatar{
    text-align: center;
}

.user_greeting{
    text-align: center;
    font-size: 48px;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 150px
}

.card{
    width: 32%;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--p) - 5px) var(--p);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

.card-content > div:first-child{
    color: var(--orange)
}

.card-content > div:last-child{
    color: var(--white)
}

.user_photo{
    margin-right: 30px;
}

.about_me_container{
    margin-top: 150px;
    display: flex;
}

h4{
    background-color: var(--color-black);
    color: var(--orange);
    border-radius: 50px;
    font-size: 20px;
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -10px;
}

h2{
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

.user_info{
    font-size: 16px;
    margin-top:10px;
    margin-bottom: 20px;
    color: var(--gray);
}

.skills_container{
    margin-top: 150px;
    display: flex;
    
}

.skills-prog{
    width: 50%;
}

.first_row {
    display:flex;
}

.second_row {
    display:flex
}

.skill_icon {
    background-color: var(--color-black);
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    justify-content: space-around;
    padding-top: 15px;

}

.projects_container{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.projects_menu{
    width: 491px;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.project_image{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  
}

.testimonials_row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

.testimonials_block{
    width: 30%;
    background-color: var(--white);
    justify-content: space-between;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
    color: var(--dark-black);
    padding: 20px;
    font-size: 20px;
}

.testimonial_user_data{
    display: flex;
    margin-top: 50px;
}

.testimonial_user_data_name{
    font-weight: bolder;

}

.testimonial_user_data_occupation{
    margin-top: -25px;
}

.footer_contianer{
    display: flex;
    justify-content: space-evenly;
    justify-content: space-around;
}

.footer_contianer{    
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

ul{ 
    list-style-type: none;
    color: var(--dark-gray)
}

.footer_list>li:first-child {
    color: var(--white);
    padding-bottom: 15px;
}
    
.footer_list:hover{
    color:var(--orange)
}
